body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.header {
  position: relative;
}
/* Header-menu */
.menu .navbar {
  background-color: black !important;
}
.navbar-brand .logo_header {
  width: 100px;
  height: 50px;
  margin-left: 100px;
}
.navbar-nav .nav-link {
  font-size: 17px;
  text-decoration: none;
  border: none;
  margin: 0 10px;
  color: whitesmoke !important;
}
.dropdown-menu {
  background-color: black !important;
}
.dropdown-menu .dropdown-item {
  margin-top: 5px;
  color: whitesmoke;
}
.form-inline .search_icon {
  color: white !important;
  font-size: 25px;
  margin-right: 100px;
}
/* header_slide */

.slide {
  display: flex;
}
.slide img {
  width: 100%;
  height: 680px;
}
